@page "/car-sales-metrics"
<iframe title="b1" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=5c763cfd-5400-475c-a736-58a421fef415&autoAuth=true&ctid=53c28cdc-39c8-43ec-9855-a6d73a84aa18" frameborder="0" allowFullScreen="true"></iframe>
<h2>Description</h2>
<p>On this page we could see analytics data for car sales. On the first page of Power BI tool we have analysis for count of sold cars by brand, could be sorted by month. 
    And on the second one we could see count of sales for each brand and each dealership.
    On the third one we have analytical data of income for each brand and dealership using 2 types of graphics.</p>

