@page "/leases-metrics"

<iframe title="b2" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=80c08f55-43ba-4779-aca1-995c18daf4b2&autoAuth=true&ctid=53c28cdc-39c8-43ec-9855-a6d73a84aa18" frameborder="0" allowFullScreen="true"></iframe>


<h2>Description</h2>
<p>On this page we could see analytics data for car Leases. On he first page of Power BI tool we have analysis for leases price change. And on the second one we could see frequency of leases for each brand.</p>
